<html>
    <head>
        <title>add</title>
    </head>
    <style type="text/css">
        body {background-image: url("http://cdn1.bigcommerce.com/server5200/1ee3c/products/283/images/363/Blackboard_Doodles_Wallpaper__19219.1405428766.1200.1200.jpg?c=2");}
        #header {
            background-image: url("http://i687.photobucket.com/albums/vv237/4-one/4-1/HT2/nbbn7.png");
            background-repeat: no-repeat;
            background-position: center top;
            background-size:35% 90%;            
            text-align: center;
            font-size:25px;
            color:black;
            padding:4%;
        }
        #body{
            background-image: url("http://i687.photobucket.com/albums/vv237/4-one/4-1/HT/KFZ-i3.png");
            background-repeat: no-repeat;
            background-position: center top;
            background-size:35% 100%;
            text-align: center;
            color:white;
            padding:4%;
        }
    </style>
    <body>
        <div id=header>
        <h1>dictionary</h1>
        </div>
        <div id =body> 
        <b>welcome</b> {{ user }} <input type="button" value="logout" id="logout" onclick='javascript:window.location.href="/logout"'><br />
        <input type="button" value ="Vocabulary" id="vocab" onclick='javascript:window.location.href="/show"'> 
        <input type="button" value ="Game" id="game" onclick='javascript:window.location.href="/game"'> 
        <FORM method="POST">
	   <b>คำ</b>
           <br>
           <input name="word_text" id="word_new"/>
           <br>
           <b>ความหมาย</b>
           <br>
           <input name="mean_text" id="mean_new"/>
           <br>
            <INPUT Type="submit" VALUE="enter" id="button" >
            <INPUT Type = "hidden" value ="send" name = 'send'>
            {% csrf_token %}
       </FORM>

       {{ text }}

       <FORM method="POST">
	   <b>ค้นหา คำ</b>
           <br>
           <input name="word_serch" id="word_serch_new"/>
           <br>
           <INPUT Type="submit" VALUE="enter" id="button_serch" >
           <INPUT Type = "hidden" value ="serch" name = 'serch'>
           {% csrf_token %}
       </FORM>
       </div>        
    </body>
</html>


