<html>
    <head>
    <style type="text/css">
        body {background-image: url("http://cdn1.bigcommerce.com/server5200/1ee3c/products/283/images/363/Blackboard_Doodles_Wallpaper__19219.1405428766.1200.1200.jpg?c=2");}
        #body{
            background-image: url("http://i687.photobucket.com/albums/vv237/4-one/4-1/HT/KFZ-i3.png");
            background-repeat: no-repeat;
            background-position: center top;
            text-align: center;
            font-size:20px;
            color:white;
            padding:10%;
        }
    </style>
        <title>
            {{title_text}}
        </title>
    </head>
    <body>
        <div id=body><b>
        {{text1}} {{data_send}} <br>{{text2}} 
        <a href="/">
            {{link_text}}
        </a>
        </b>
        </div> 
    </body>
</html>
