<!DOCTYPE html>
<script>
function checkblank(){
    var token = ['user', 'pass'], pass = true;
    for(var i = 0; i < token.length; i++){
        if(document.getElementById("id_"+token[i]).value == ""){
            document.getElementById(token[i]+"blank").innerHTML = '<font color="red">'+token[i]+' must not blank</font>';
            pass = false;
        }else{
            document.getElementById(token[i]+"blank").innerHTML = '';
        }
    }
    if(pass){
        document.getElementById('loginform').submit();
    }
}
</script>
<html>
    <head>
        <title>Login</title>
    </head>
    <style type="text/css">
        body {background-image: url("http://cdn1.bigcommerce.com/server5200/1ee3c/products/283/images/363/Blackboard_Doodles_Wallpaper__19219.1405428766.1200.1200.jpg?c=2");}
        #header {
            background-image: url("http://i687.photobucket.com/albums/vv237/4-one/4-1/HT2/nbbn7.png");
            background-repeat: no-repeat;
            background-position: center top;
            background-size:35% 90%;            
            text-align: center;
            font-size:25px;
            color:black;
            padding:4%;
        }
        #body{
            background-image: url("http://i687.photobucket.com/albums/vv237/4-one/4-1/HT/KFZ-i3.png");
            background-repeat: no-repeat;
            background-position: center top;
            text-align: center;
            color:white;
            padding:7%;
        }
    </style>
    <body>
        <div id=header>
        <h1>Login</h1>
        </div>
        <div id=body> 
        <FORM method="POST" action="/login/" id="loginform">
	    <b>Username</b>
            <input name="user" id="id_user"/><span id="userblank"></span>
            <br>
            <b>Password </b>
            <input type="password" name="pass" id="id_pass"/><span id="passblank"></span>
            <br> 
            <INPUT Type="button" VALUE="Login" id="button_login" onclick="javascript:checkblank()">
            <INPUT Type = "hidden" value ="login" name = 'login'>
            {% csrf_token %}
        </FORM>
        <input type="button" value ="Register" id="register" onclick='javascript:window.location.href="/register"'>
        </div>  
    </body>
</html>
