<html>
<script>
function checkdata(){
    var keys = ["user", "pass", "birth", "email"], pass = true;
    for(var i in keys){
        if(document.getElementById(keys[i]).value == ""){
            document.getElementById(keys[i]+"blank").innerHTML = "<font color='red'>"+keys[i]+" is empty**</font>";
            pass = false;
        }else{
             document.getElementById(keys[i]+"blank").innerHTML = "";
        }
    }
    if(pass == true){
        document.regisform.submit();
    }
}
</script>
<head>
    <title>Register</title>
    <style type="text/css">
        body {background-image: url("http://cdn1.bigcommerce.com/server5200/1ee3c/products/283/images/363/Blackboard_Doodles_Wallpaper__19219.1405428766.1200.1200.jpg?c=2");}
        #header {
            background-image: url("http://i687.photobucket.com/albums/vv237/4-one/4-1/HT2/nbbn7.png");
            background-repeat: no-repeat;
            background-position: center top;
            background-size:35% 90%;            
            text-align: center;
            font-size:25px;
            color:black;
            padding:4%;
        }
        #body{
            background-image: url("http://i687.photobucket.com/albums/vv237/4-one/4-1/HT/KFZ-i3.png");
            background-repeat: no-repeat;
            background-position: center top;
            text-align: center;
            color:white;
            padding:5%;
        }
    </style>
    <div id= header>
    <h1 style="text-align:center;">Register</h1>
    </div>
</head>
<body>
<div id=body>
<form id="regisform" name="regisform" method="POST">
<b>Username </b> <input id="user" name="user" placeholder="Username"><span id="userblank">{% if fail == 'user' %}This Username is exists{% endif %}</span><br />
<b>Password </b><input type="password" id="pass" name="pass" placeholder="Password"><span id="passblank"></span><br />
<b>Birthday </b><input id="birth" name="birth" placeholder="Birthday"><span id="birthblank"></span><br />
<b>Email </b><input id="email" name="email" placeholder="Email"><span id="emailblank"></span><br />
<input type="button" id="send" name="send" value="Register" onclick="javascript:checkdata()">
{% csrf_token %}
</form>
</div>
</body>
</html>
