<html>
    <head>
        <title>show sentence</title>
    </head>
    <style type="text/css">
        body {background-image: url("http://cdn1.bigcommerce.com/server5200/1ee3c/products/283/images/363/Blackboard_Doodles_Wallpaper__19219.1405428766.1200.1200.jpg?c=2");}
        #header {
            background-image: url("http://i687.photobucket.com/albums/vv237/4-one/4-1/HT2/nbbn7.png");
            background-repeat: no-repeat;
            background-position: center top;
            background-size:35% 90%;            
            text-align: center;
            font-size:25px;
            color:black;
            padding:4%;
        }
        #body{
            background-image: url("http://i687.photobucket.com/albums/vv237/4-one/4-1/HT/KFZ-i3.png");
            background-repeat: no-repeat;
            background-position: center top;
            background-size:35% 100%;
            text-align: center;
            color:white;
            padding:2%;
        }
    </style>
    <body>
        <div id=header>
        <h1>sentence</h1>
        </div>
        <div id=body>
        <b>welcome</b> {{ user }} <input type="button" value="logout" onclick='javascript:window.location.href="/logout"'><br />
        <input type="button" value ="Vocabulary" onclick='javascript:window.location.href="/show"'>
        <input type="button" value ="Add Vocabulary" onclick='javascript:window.location.href="/add"'>  
        <input type="button" value ="Game" onclick='javascript:window.location.href="/game"'>  
        <br>
        <b>คำ :</b> {{word}} 
        <br>
        <b>ความหมาย :</b> {{mean}}
       <FORM method="POST">
	   ตัวอย่างประโยค
           <br>
           <input name="example_text" id="example_new"/>
           <br>
                แหล่งที่มา
           <br>
           <input name="url_text" id="url_new"/>
           <br>
            <INPUT Type="submit" VALUE="enter" id="button" >
            <INPUT Type = "hidden" value ="send" name = 'send'>
            {% csrf_token %}
       </FORM>
       </div>
       <br></br>        
       <table bgcolor=white align="center" id="id_list_table" border=1>
             {% for s in vocab.sentence_set.all %}
                 <tr>             
                         <td>{{ s.example }}</td>
                         <td><a href="{{ s.url }}">{{ s.url }}</a></td>
                 </tr>               
            {% endfor %}
        </table>       
    </body>
</html>


