<html>
    <head>
        <title>show</title>
    </head>
    <style type="text/css">
        body {background-image: url("http://cdn1.bigcommerce.com/server5200/1ee3c/products/283/images/363/Blackboard_Doodles_Wallpaper__19219.1405428766.1200.1200.jpg?c=2");}
        #header {
            background-image: url("http://i687.photobucket.com/albums/vv237/4-one/4-1/HT2/nbbn7.png");
            background-repeat: no-repeat;
            background-position: center top;
            background-size:35% 90%;            
            text-align: center;
            font-size:25px;
            color:black;
            padding:4%;
        }
        #body{
            background-image: url("http://i687.photobucket.com/albums/vv237/4-one/4-1/HT/KFZ-i3.png");
            background-repeat: no-repeat;
            background-position: center top;
            text-align: center;
            background-size:35% 100%;
            color:white;
            padding:2%;
        }
    </style>
    <body>
        <div id=header>
        <h1>Vocabulary</h1>
        </div>
        <div id=body>
        welcome {{ user }} <input type="button" value="logout" id="logout" onclick='javascript:window.location.href="/logout"'><br />
        <input type="button" value ="Add Vocabulary" id="add" onclick='javascript:window.location.href="/add"'>  
        <input type="button" value ="Game" id="game" onclick='javascript:window.location.href="/game"'>
        </div>  
        <br></br>
        <table bgcolor=white align="center"  id="id_list_table" border=1>
             {% for word in words %}
                 <tr>
                 {% for w in word %}
                     {% if forloop.counter < 3 %}                 
                         <td>{{ w }}</td>
                     {% elif forloop.counter < 4 %}
                         <td>
                     <FORM method="POST">
                     <INPUT Type="submit" VALUE="sentence" id="button_s" >      
                     <INPUT Type = "hidden" value ="sentence" name = 'sentence'>
                     <INPUT Type = "hidden" value ="{{ w }}" name = 'id_sentence'>
                     {% csrf_token %}
                 </FORM>
                     </td>
                 {% endif %}
                 {% endfor %}                
            {% endfor %}
        </table>
  </body>
</html>
