<html>
<script src="/home/galible/jquery-2.0.3.js"></script>
<script>
var values = "{% if selected != '' %}{{selected.posX}}_{{selected.posY}},{% endif %}";
function check(pos, ch){
    var position = pos.split("_");
    var itemshow = document.getElementById("showword");
    var itemsend = document.getElementById("val");
    var button = document.getElementById("p_"+position[0]+"_"+position[1]);
    if(values == ""){
        values = pos + ",";
        itemshow.innerHTML += ch;
        button.innerHTML = "<input style=\"color: #0000FF\" "+button.innerHTML.split("input")[1];
        itemsend.value += ch
    }else if(values.split(",").length == 2){
        var valX = values.split(",")[0].split("_")[0];
        var valY = values.split(",")[0].split("_")[1];
        if(Math.abs(parseInt(valX) - parseInt(position[0])) <= 1 && Math.abs(parseInt(valY) - parseInt(position[1])) <= 1 && !(parseInt(valX) == parseInt(position[0]) && parseInt(valY) == parseInt(position[1]))){
            values += pos + ",";
            itemshow.innerHTML += ch;
            button.innerHTML = "<input style=\"color: #0000FF\" "+button.innerHTML.split("input")[1];
            itemsend.value += ch
        }else{
            itemsend.value = pos
            document.getElementById("type").value="reset";
            document.getElementById("submitform").submit();
        }
    }else{
        var len = values.split(",").length - 1;
        var firstX = parseInt(values.split(",")[0].split("_")[0]);
        var firstY = parseInt(values.split(",")[0].split("_")[1]);
        var secondX = parseInt(values.split(",")[1].split("_")[0]);
        var secondY = parseInt(values.split(",")[1].split("_")[1]);
        var dX = secondX - firstX;
        var dY = secondY - firstY;
        var posX = parseInt(position[0]);
        var posY = parseInt(position[1]);
        if(posX == firstX + (dX*len) && posY == firstY + (dY*len)){
            values += pos + ",";
            itemshow.innerHTML += ch;
            button.innerHTML = "<input style=\"color: #0000FF\" "+button.innerHTML.split("input")[1];
            itemsend.value += ch
        }else{
            itemsend.value = pos
            document.getElementById("type").value="reset";
            document.getElementById("submitform").submit();
        }
    }
}
</script>
<head>
    <title>Word Hunt !!</title>
    <div id=header>
    <h1>Game</h1>
    </div>
</head>
<style type="text/css">
        body {background-image: url("http://cdn1.bigcommerce.com/server5200/1ee3c/products/283/images/363/Blackboard_Doodles_Wallpaper__19219.1405428766.1200.1200.jpg?c=2");}
        #header {
            background-image: url("http://i687.photobucket.com/albums/vv237/4-one/4-1/HT2/nbbn7.png");
            background-repeat: no-repeat;
            background-position: center top;
            background-size:35% 90%;            
            text-align: center;
            font-size:25px;
            color:black;
            padding:4%;
        }
        #body{
            background-image: url("http://i687.photobucket.com/albums/vv237/4-one/4-1/HT/KFZ-i3.png");
            background-repeat: no-repeat;
            background-position: center top;
            {%if error == "less15" %}
            background-size:35% 90%;
            {%else%}
            background-size:100% 100%;
            {%endif%}  
            text-align: center;
            color:white;
            padding:6%;
        }
    </style>
<body>
<div id=body>
    <p>
        <b>Welcome</b> {% if user != '' %}{{user}} (<a href='/logout'>logout</a>) {% else %}guest{% endif %} <b>to Word hunt !</b><br>   
        <input type="button" value="Add vocabulary" id="addword" onclick='javascript:window.location.href="/add"'>
        <input type="button" value ="Game" id="game" onclick='javascript:window.location.href="/game"'>
{%if error == "less15" %}
<p>your words are less than 15 <br> please add words up to 15 or more</p>
{% endif %} 
    </p><br/>
       
{% if fin == 'yes' %}
<h1><font color="red">congratulation !! ... You are victorious</font></h1>
{% elif error != "less15" %}
    <table bgcolor=white id="questtable" border="1">
        <tr><td>Your quest : </td>
            {% for word in mean %}
                <td>
                    {{word}}
                </td>
            {% endfor %}
        </tr>
    </table>
    <table id="showtable">
       <tr><td>
        <span id="showword"><font color=white>Your word : {{selected.ch}}</font></span>
       </td></tr>
    </table>
    <div>
        <input type="button" name="send" id="send" value="submit" onclick='javascript:document.getElementById("position").value=values;javascript:document.getElementById("submitform").submit();'>
        <input type="button" name="reset" id="reset" value="reset" onclick='javascript:document.getElementById("type").value="reset";document.getElementById("submitform").submit();document.getElementById("value")="";'>
    </div>
    <table bgcolor=white align="center" id="gametable" border="1">
        <form name="WHtable">
            <div id="check">
                {% for row in rows %}
                    <tr>
                        {% for char in row %}
                            <td>
                                <span id="p_{{ char.posX }}_{{ char.posY }}">
                                    <input type="button" {% if char.blue == 1 %}style="color:#0000FF;"{% elif char.isAns == 2 %}style="color:#00FF00;"{% elif char.isAns == 1 and cheat == 'yes' %}style="color:#FF0000;"{% endif %} value="{{ char.ch }}" name="{{ char.posX }}_{{ char.posY }}" id="b_{{ char.posX }}_{{ char.posY }}" onclick="javascript:check(name, value)">
                                </span>
                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </div>
        </form>
    </table>
{% endif %}
</div>
</body>
<form id="submitform" name="submitform" method="POST">
    <input type="hidden" name="type" id="type" value="submit">
    <input type="hidden" name="val" id="val" value="{{selected.ch}}">
    <input type="hidden" name="platform" value="{% for row in rows %}{% for char in row %}{{char.ch}},{{char.posX}},{{char.posY}},{{char.isAns}}){% endfor %}/{% endfor %}">
    <input type="hidden" name="cheat" id="cheat" value="{{cheat}}">
    <input type="hidden" name="position" id="position" value="">
    <input type="hidden" name="quest" id="quest" value="{% for word in quest %}{{word}},{% endfor %}">
    <input type="hidden" name="mean" id="mean" value="{% for word in mean %}{{word}},{% endfor %}">
    {% csrf_token %}
</form>
</html>
